<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Выбор даты</title>
</head>
<body>
  <p>Результат запроса:</p>
  {% if companyid %}
    <p> ID компании {{ companyid }}</p>
    <p> Дата начала отчета: {{ firstdate }}</p>
    <p> Дата окончания отчета: {{ lastdate }}</p>
  {% endif %}
  <p>В базе данных RS.Loyalty найдено {{ number_mssql_phones }} телефонов</p>
  <p>Всего телефонов с токенами: {{ number_mysql_phones }} </p>

  <p>
    Среди клиентов компании пользуются мобильным
                                        приложением <b>{{ number_result }}</b>.
  </p>



  <form>
    <button disabled="disabled"> Выгрузить телефоны RS</button>
    <button disabled="disabled"> Выгрузить телефоны МП</button>
    <button disabled="disabled"> Выгрузить результат</button>
  </form>

</body>